name: Deploy S3 Site Go Application

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      AWS_ACCOUNT_ID:
        description: 'AWS account id'
        required: true
        default: '992382474575'
      REGION:
        description: 'AWS Region'
        required: true
        default: 'us-east-2'
      BUCKET_NAME:
        description: 'S3 Bucket Name'
        required: true
        default: '992382474575-eliezer-us-east-1-site-go' 
        
defaults:
  run:
    shell: bash

permissions:
  id-token: write   # Isso é necessário para solicitar o JWT
  contents: read    # Isso é necessário para ações/checkout    

jobs:
  setup-environment:
    uses: ./.github/workflows/setup-environment.yaml
    with:
      AWS_ACCOUNT_ID: ${{ github.event.inputs.AWS_ACCOUNT_ID }}
      REGION: ${{ github.event.inputs.REGION }}
      
  infra-as-code:
    runs-on: ubuntu-latest
    needs: [ setup-environment ]
    permissions:
      id-token: write
      contents: read
      
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials - OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::908671954593:role/oidc-gitaction
          aws-region: ${{ needs.setup-environment.outputs.AWS_REGION }}

      - name: Sts GetCallerIdentity
        run: |
          aws sts get-caller-identity

      - name: Execute Cloudformation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        env:
          REPO_NAME: ${{ needs.setup-environment.outputs.REPO_NAME }}
          ENVIRONMENT: ${{ needs.setup-environment.outputs.ENVIRONMENT }}
          TEMPLATE_PATH: ${{ needs.setup-environment.outputs.CLOUDFORMATION_TEMPLATE_PATH }}
          TEMPLATE_PARAMETERS_PATH: ${{ needs.setup-environment.outputs.CLOUDFORMATION_TEMPLATE_PARAMETERS_PATH }}
        with:
          name: ${{ env.REPO_NAME }}-iaac-stack
          template: ${{ env.TEMPLATE_PATH }}
          parameter-overrides: ${{ env.TEMPLATE_PARAMETERS_PATH }}
          no-fail-on-empty-changeset: "1"
          capabilities: CAPABILITY_AUTO_EXPAND,CAPABILITY_NAMED_IAM
          
  copy-to-s3:
    runs-on: ubuntu-latest
    needs: [ setup-environment, infra-as-code ]
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::908671954593:role/oidc-gitaction
          aws-region: ${{ needs.setup-environment.outputs.AWS_REGION }}

      - name: Copy files to S3 website bucket
        run: |
          echo "Uploading site content to s3://$BUCKET_NAME..."
          aws s3 sync . s3://$BUCKET_NAME \
            --exclude ".git/*" \
            --exclude ".github/*" \
            --exclude "*.yaml" \
            --delete
